.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  width: 975px;
  height: 90px;
  background: #e3e989;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.box-socialmedias {
  padding: 5px;
}
